body{
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 28px;
}
/*Header style probando comentarios en css*/
header{
	background-color: #F1948A;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

h1,h2{
	font-family: 'Joan', serif;

}

header h1{
	color: #C0392B;
	font-size: 40px;
}

header img{
	border-radius: 250px;
	width: 450px;
	border: 10px solid darkred;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding:20px;
	
}
main img{
	max-width:100%;
	max-height: 450px;
}

h2{
	font-size: 35px;
	color: #922B21;
	margin: 40px 0 10px;
}

a{
	color: #922B21;
}
a:hover{
	background-color:#9B59B6 ;
	color: white;
}

footer{
	background-color: #F1948A;
	text-align: center;
	color: #8E44AD;
	padding: 50px;
}
	}
footer p{
	margin: 0;
}

p.Caption{
	color: darkred;
	font-style: italic;
	margin-top: 0;	
}
